*{
  box-sizing: border-box;
}

.App{
  padding-top: 24px;
}

body, html{
  font-size: 10px;
  background: #455a64;
}

body{
  margin: 0;
  padding: 0;
}

body, button,input,textarea{
  font-family: sans-serif;
}

.task-dashboard_col{
    -webkit-box-flex: 0;
    -webkit-box-flex: 0 1 30%;
    -ms-flex: 0 1 30%;
    flex: 0 1 30%;
}

.task-dashboard_box {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	-webkit-align-items: stretch;
	-ms-flex-align: stretch;
	align-items: stretch;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}